.sidebar {
  display: flex;
  flex-direction: column;

  .clients-list {
    flex-grow: 1;

    &__controls {
      padding: 12px;
      display: flex;
      flex-direction: column;
    }

    &__add {
      margin-bottom: 12px;
    }

    &__remove {
      margin-left: 0;
    }
  }
}
